.home-container {
  min-height: 93vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-dark {
  background-color: #000000;
}

.home-img {
  width: 90px;
}

.home-text {
  color: #171f46;
  font-family: Roboto;
  font-size: 30px;
}

.light-text {
  color: #ffffff;
}

.link-container {
  text-decoration: none;
}
